<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      {{{css}}}
    </style>
  </head>
  <body>
    <div style="display:flex; align-items:flex-start;">
      <div class="lang-switch-wrap">
        <div class="lang-switch" id="lang-switch">
          <input type="radio" id="lang-en" name="lang" {{#resume}}{{isChecked "en" lang}}{{/resume}}>
          <label for="lang-en">EN</label>
          <input type="radio" id="lang-ru" name="lang"{{#resume}}{{isChecked "ru" lang}}{{/resume}}>
          <label for="lang-ru">RU</label>
        </div>
      </div>
      <script>                                                                                                                                                                                                       
        (function () {                                                                                                                                                                                               
          var isRU = /(^|\/)ru\.html(\?|#|$)/i.test(location.pathname);                                                                                                                                              
          var en = document.getElementById('lang-en');                                                                                                                                                               
          var ru = document.getElementById('lang-ru');                                                                                                                                                               
          (isRU ? ru : en).checked = true;                                                                                                                                                                           
          en.addEventListener('change', function () { if (this.checked) location.href = 'en.html'; });                                                                                                               
          ru.addEventListener('change', function () { if (this.checked) location.href = 'ru.html'; });                                                                                                               
        })();                                                                                                                                                                                                        
      </script>
      <div style="flex:1;">
        <div id="resume">
          {{> basics }}
          {{> work }}
          {{> projects }}
          {{> volunteer }}
          {{> education }}
          {{> awards }}
          {{> certificates }}
          {{> publications }}
          {{> skills }}
          {{> languages }}
          {{> interests }}
          {{> references }}
        </div>
      </div>
    </div>
  </body>
</html>
